apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-cluster
  namespace: comandalivre
spec:
  instances: 1
  
  storage:
    size: 5Gi
  
  bootstrap:
    initdb:
      database: comandalivre 
      owner: comanda_livre
      secret:
        name: cnpg-basic-auth
      postInitApplicationSQL:
        - CREATE DATABASE keycloak_db OWNER comanda_livre;
        - CREATE DATABASE company_db OWNER comanda_livre;
        - CREATE DATABASE prumodigital_db OWNER comanda_livre;
        - CREATE DATABASE user_db OWNER comanda_livre; 

  resources:
    requests:
      memory: "256Mi"
      cpu: "200m"
    limits:
      memory: "1Gi"
      cpu: "1000m"

  monitoring:
    enablePodMonitor: true