apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: comandalivre
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis/redis-stack:latest
        ports:
        - containerPort: 6379
        - containerPort: 8001
        resources:
          requests:
            cpu: "50m"
            memory: "100Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
---

apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: comandalivre
spec:
  selector:
    app: redis
  ports:
    - name: redis
      port: 6379
    - name: ui
      port: 8001