
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  namespace: comandalivre
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
      - name: loki
        image: grafana/loki:2.9.0
        ports:
        - containerPort: 3100
        resources:
          requests:
            cpu: "200m"
            memory: "512Mi"
          limits:
            cpu: "1000m"
            memory: "1Gi"
---
apiVersion: v1
kind: Service
metadata:
  name: loki-service
  namespace: comandalivre
spec:
  selector:
    app: loki
  ports:
    - name: http
      port: 3100
      targetPort: 3100