
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  namespace: comandalivre
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
      - name: loki
        image: grafana/loki:3.6.5
        args:
          - "-config.file=/etc/loki/loki-config.yaml"
        ports:
        - containerPort: 3100
        volumeMounts:
          - name: loki-config
            mountPath: /etc/loki
          - name: loki-storage
            mountPath: /loki
        resources:
          requests:
            cpu: "200m"
            memory: "512Mi"
          limits:
            cpu: "1000m"
            memory: "1Gi"
      volumes:
        - name: loki-config
          configMap:
            name: loki-config
        - name: loki-storage
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: loki-service
  namespace: comandalivre
spec:
  selector:
    app: loki
  ports:
    - name: http
      port: 3100
      targetPort: 3100