apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-keycloak
  namespace: comandalivre
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-keycloak
  template:
    metadata:
      labels:
        app: postgres-keycloak
    spec:
      containers:
      - name: postgres
        image: postgres:16
        env:
        - name: POSTGRES_DB
          value: keycloak
        - name: POSTGRES_USER
          value: keycloak
        - name: POSTGRES_PASSWORD
          value: keycloak
        resources:
          requests:
            cpu: "50m"     
            memory: "128Mi"  
          limits:
            cpu: "200m"
            memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-keycloak-service
  namespace: comandalivre
spec:
  selector:
    app: postgres-keycloak
  ports:
    - port: 5432
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: comandalivre
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:25.0.2
        command: ["/opt/keycloak/bin/kc.sh", "start-dev"]
        ports:
        - containerPort: 8080
        env:
        - name: KC_DB
          value: postgres
        - name: KC_DB_URL
          value: jdbc:postgresql://postgres-keycloak-service:5432/keycloak
        - name: KC_DB_USERNAME
          value: keycloak
        - name: KC_DB_PASSWORD
          value: keycloak
        - name: KEYCLOAK_ADMIN
          valueFrom: { secretKeyRef: { name: app-secrets, key: KC_ADMIN } }
        - name: KEYCLOAK_ADMIN_PASSWORD
          valueFrom: { secretKeyRef: { name: app-secrets, key: KC_PASS } }
        - name: KC_PROXY
          value: edge
        resources:
          requests:
            cpu: "200m"      
            memory: "768Mi"
          limits:
            cpu: "1000m"
            memory: "1.5Gi" 
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-service
  namespace: comandalivre
spec:
  selector:
    app: keycloak
  ports:
    - port: 8080
      targetPort: 8080