apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: comandalivre
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:25.0.2
        command: ["/opt/keycloak/bin/kc.sh", "start-dev", "--import-realm"]
        ports:
        - containerPort: 8080
        env:
        - name: KC_DB
          value: postgres
        - name: KC_DB_URL
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_DATABASE_URL
              name: app-config

        - name: KC_DB_USERNAME
          valueFrom: 
            secretKeyRef: 
              name: app-secrets
              key: DB_USER
        - name: KC_DB_PASSWORD
          valueFrom: 
            secretKeyRef: 
              name: app-secrets
              key: DB_PASS

        - name: KEYCLOAK_ADMIN
          valueFrom: { secretKeyRef: { name: app-secrets, key: KC_ADMIN } }
        - name: KEYCLOAK_ADMIN_PASSWORD
          valueFrom: { secretKeyRef: { name: app-secrets, key: KC_PASS } }
        
        - name: KC_PROXY
          value: edge
        
        volumeMounts:
        - name: realm-volume
          mountPath: /opt/keycloak/data/import/realm-export.json
          subPath: realm-export.json
          readOnly: true
        
        resources:
          requests:
            cpu: "200m"      
            memory: "768Mi"
          limits:
            cpu: "1000m"
            memory: "1.5Gi" 
      
      volumes:
      - name: realm-volume
        configMap:
          name: keycloak-realm-config
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-service
  namespace: comandalivre
spec:
  selector:
    app: keycloak
  ports:
    - port: 8080
      targetPort: 8080