apiVersion: 1
datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  url: http://prometheus-service:9090
  isDefault: true
- name: Loki
  type: loki
  access: proxy
  url: http://loki-service:3100