global:
  scrape_interval: 10s
scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector-service:8889']
  - job_name: 'vm-node'
    static_configs:
      - targets: ['172.17.0.1:9100']
  - job_name: 'blackbox-http'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - http://localhost:8080/actuator/health
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 172.17.0.1:9115