apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-lagacy-service
  namespace: comandalivre
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-lagacy-service
  template:
    metadata:
      labels:
        app: app-lagacy-service
    spec:
      containers:
      - name: app-lagacy-service
        image: comandalivre/app-lagacy-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secrets
        resources:
          requests:
            cpu: "100m"
            memory: "512Mi"
          limits:
            cpu: "1000m"
            memory: "1Gi"
---
apiVersion: v1
kind: Service
metadata:
  name: app-lagacy-service
  namespace: comandalivre
spec:
  selector:
    app: app-lagacy-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080