spring:
    application:
        name: api-gateway-service
    cloud:
        gateway:
            server:
                webflux:
                    routes:
                        -   id: legacy-api-route
                            uri: ${LEGACY_API_URL:http://localhost:8086}
                            predicates:
                                - Path=/api/**

#logging:
##    level:
##        org.springframework.cloud.gateway: TRACE
#    pattern:
#        level: "%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]"


management:
    endpoints:
        web:
            exposure:
                include: health, info, metrics
    tracing:
        sampling:
            probability: 1.0

    otlp:
        metrics:
            export:
                url: ${OTEL_METRICS_URL:http://localhost:4318/v1/metrics}
                step: 10s
        tracing:
            endpoint: ${OTEL_TRACES_URL:http://localhost:4318/v1/traces}
        logging:
            endpoint: ${OTEL_LOGS_URL:http://localhost:4318/v1/logs}
