# Configuração do cluster Kind para o projeto Comanda Livre
# Criar :sh: kind create cluster --config kind-config.yaml
# Deletar :sh: kind delete cluster --name comanda-livre

kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: comanda-livre
nodes:
- role: control-plane
  extraPortMappings:
  # API-GATEWAY-SERVICE
  - containerPort: 30081
    hostPort: 8081
    protocol: TCP
  # COMANDALIVRE-SERVICE
  - containerPort: 30082 
    hostPort: 8082
    protocol: TCP
  # COMPANY-SERVICE
  - containerPort: 30083
    hostPort: 8083
    protocol: TCP
  # USER-SERVICE
  - containerPort: 30084
    hostPort: 8084
    protocol: TCP
  # PRUMODIGITAL-SERVICE
  - containerPort: 30085
    hostPort: 8085
    protocol: TCP
  # APP-LAGACY-SERVICE
  - containerPort: 30086
    hostPort: 8086
    protocol: TCP
  # KEYCLOAK
  - containerPort: 30090
    hostPort: 8090
    protocol: TCP
  # POSTGRES PRINCIPAL
  - containerPort: 30432
    hostPort: 5432
    protocol: TCP
  # MAILHOG
  - containerPort: 30025
    hostPort: 8025
    protocol: TCP
  - containerPort: 30010
    hostPort: 1025
    protocol: TCP
  # GRAFANA
  - containerPort: 30300
    hostPort: 3000
    protocol: TCP
  # OpenTelemetry Collector
  - containerPort: 30437
    hostPort: 4317
    protocol: TCP
  - containerPort: 30438
    hostPort: 4318
    protocol: TCP
  # Prometheus
  - containerPort: 30490
    hostPort: 9090
    protocol: TCP