apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: comandalivre
data:
  # --- GERAL ---
  PORT: "8080"
  
  # --- FEATURE FLAGS ---
  FIREBASE_APP_CHECK_ENABLED: "false"
  DISCORD_WEBHOOKS_ENABLED: "false"
  
  # --- AWS / S3 ---
  AWS_BUCKET: "comanda-livre"
  AWS_REGION: "sa-east-1"
  AWS_ENDPOINT: "http://minio-service:9000"

  # --- E-mail ---
  MAIL_HOST: "mailhog-service"
  MAIL_PORT: "1025"
  MAIL_AUTH: "false"
  MAIL_STARTTLS_ENABLE: "false"

  # --- BANCOS DE DADOS ---
  COMANDALIVRE_DATABASE_URL: "jdbc:postgresql://postgres-cluster-rw:5432/comandalivre_db"
  KEYCLOAK_DATABASE_URL: "jdbc:postgresql://postgres-cluster-rw:5432/keycloak_db"
  COMPANY_DATABASE_URL: "jdbc:postgresql://postgres-cluster-rw:5432/company_db"
  PRUMODIGITAL_DATABASE_URL: "jdbc:postgresql://postgres-cluster-rw:5432/prumodigital_db"
  USER_DATABASE_URL: "jdbc:postgresql://postgres-cluster-rw:5432/user_db"
  LEGACY_DATABASE_URL: "jdbc:postgresql://postgres-cluster-rw:5432/legacy_db"
  
  # --- AUTH ---
  JWK_SET_URI: "http://keycloak-service:8080/realms/comandalivre/protocol/openid-connect/certs"

  # --- CACHE ---
  CACHE_TYPE: "caffeine"

  # --- OTEL ---
  OTEL_METRICS_URL: "http://otel-collector-service:4318/v1/metrics"
  OTEL_TRACES_URL: "http://otel-collector-service:4318/v1/traces"
  OTEL_LOGS_URL: "http://otel-collector-service:4318/v1/logs"