apiVersion: v1
kind: Service
metadata:
  name: postgres-external-access
  namespace: comandalivre
spec:
  type: NodePort
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      nodePort: 30432
  selector:
    cnpg.io/cluster: postgres-cluster
    cnpg.io/instanceRole: primary